<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Edit <%= resource_name.to_s.humanize %></h2>
        </div>

        <div class="panel-body">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal", role: "form" }) do |f| %>
              <%= devise_error_messages! %>

              <div class="form-group">
                <%= f.label :email, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                  <%= f.email_field :email, autofocus: true, class: "form-control" %>
                </div>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                      <p class="help-block">
                        Currently waiting confirmation for: <%= resource.unconfirmed_email %>
                      </p>
                    </div>
                  </div>
              <% end %>

              <div class="form-group">
                <%= f.label :password, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                  <p class="help-block">
                    Leave blank if you don't want to change it.
                  </p>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :current_password, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                  <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
                  <p class="help-block">
                    We need your current password to confirm your changes.
                  </p>
                </div>
                </div>


              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, :class => "form-control" %>
              </div>
                </div>

              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, :class => "form-control" %>
              </div>
                </div>


              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                <%= f.label :unit %>
                <%= f.number_field :unit, :class => "form-control" %>
              </div>
                </div>

              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                <%= f.label :street %>
                <%= f.text_field :street, :class => "form-control" %>
              </div>
                </div>

              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                <%= f.label :city %>
                <%= f.text_field :city, :class => "form-control" %>
              </div>
                </div>

              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                <%= f.label :state %>
                <%= f.text_field :state, :class => "form-control" %>
              </div>
                </div>

              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                <%= f.label :zip %>
                <%= f.number_field :zip, :class => "form-control" %>
              </div>
              </div>

              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                <%= f.label :photo %>
                <%= f.text_field :photo, :class => "form-control" %>
              </div>
                </div>


              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                <%= f.label :alcohol %>
                <%= f.select :alcohol, options_for_select([["once per week",1],["twice per week",2],["three times per week",3],["four times per week",4],["five times per week",5],["six times per week",6],["every day",7]],7), :class => "form-control" %>
              </div>
                </div>


              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                <%= f.label :height %>
                <%= f.number_field :height, :class => "form-control", :placeholder => "Inches" %>
              </div>
                </div>

              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                <%= f.label :weight %>
                <%= f.number_field :weight, :class => "form-control", :placeholder => "Pounds"%>
              </div>
                </div>

              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                <%= f.label :weight_target %>
                <%= f.select :weight_target, options_for_select([["lose weight",1],["gain weight",2],["no changes",3]],3), :class => "form-control" %>
              </div>
                </div>

              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                <%= f.label :target_days %>
                <%= f.number_field :target_days, :class => "form-control", :placeholder => "days"%>
              </div>
                </div>

              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                <%= f.label :activity_factor %>
                <%= f.select :activity_factor, options_for_select([["sedentary (little or no exercise)",1.2],["lightly active (light exercise/sports 1-3 days/week)",1.375],["moderately active (moderate exercise/sports 3-5 days/week)",1.55],["very active (hard exercise/sports 6-7 days a week)",1.725],["extra active (very hard exercise/sports and physical job)",1.9]],6), :class => "form-control" %>
              </div>
                </div>

              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                <%= f.label :body %>
              </div>
                </div>

              <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group" >
                  <%=image_tag("Ectomorth.jpg", alt: "Example Image")%>

                  <%= f.radio_button :body, "Ectomorth", :class =>"form-control" %>


                </div>

                <div class="btn-group" role="group">
                  <%=image_tag("Mesomorth.jpg", alt: "Example Image")%>
                  <%= f.radio_button :body, "Mesomorth", :class =>"form-control" %>

                </div>

                <div class="btn-group" role="group">
                  <%=image_tag("Endomorth.jpg", alt: "Example Image")%>
                  <%= f.radio_button :body, "Endomorth", :class =>"form-control" %>

                </div>
              </div>



              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                  <%= f.submit "Update", class: "btn btn-success btn-block" %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                  <%= link_to "Back", :back, class: "btn btn-link btn-block" %>
                </div>
              </div>
          <% end %>

        </div>

        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-2">
              Unhappy?
            </div>

            <div class="col-sm-10">
              <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-block" %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
