<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :class => "form-control" %>
    </div>


    <div class="form-group">
      <%= f.label :unit %>
      <%= f.number_field :unit, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :street %>
      <%= f.text_field :street, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :state %>
      <%= f.text_field :state, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :zip %>
      <%= f.number_field :zip, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :photo %>
      <%= f.text_field :photo, :class => "form-control" %>
    </div>


    <div class="form-group">
      <%= f.label :alcohol %>
      <%= f.select :alcohol, options_for_select([["once per week",1],["twice per week",2],["three times per week",3],["four times per week",4],["five times per week",5],["six times per week",6],["every day",7]],7), :class => "form-control" %>
    </div>


    <div class="form-group">
      <%= f.label :height %>
      <%= f.number_field :height, :class => "form-control", :placeholder => "Inches" %>
    </div>

    <div class="form-group">
      <%= f.label :weight %>
      <%= f.number_field :weight, :class => "form-control", :placeholder => "Pounds"%>
    </div>

    <div class="form-group">
      <%= f.label :target_pounds %>
      <%= f.number_field :target_pounds, :class => "form-control", :placeholder => "Pounds"%>
    </div>

    <div class="form-group">
      <%= f.label :target_days %>
      <%= f.number_field :target_days, :class => "form-control", :placeholder => "days"%>
    </div>

    <div class="form-group">
      <%= f.label :activity_factor %>
      <%= f.select :activity_factor, options_for_select([["sedentary (little or no exercise)",1.2],["lightly active (light exercise/sports 1-3 days/week)",1.375],["moderately active (moderate exercise/sports 3-5 days/week)",1.55],["very active (hard exercise/sports 6-7 days a week)",1.725],["extra active (very hard exercise/sports and physical job)",1.9]],6), :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :body %>
    </div>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group" >
        <%=image_tag("Ectomorth.jpg", alt: "Example Image")%>

        <%= f.radio_button :body, "Ectomorth", :class =>"form-control" %>


      </div>
      <div class="btn-group" role="group">
        <%=image_tag("Mesomorth.jpg", alt: "Example Image")%>
        <%= f.radio_button :body, "Mesomorth", :class =>"form-control" %>

      </div>
      <div class="btn-group" role="group">
        <%=image_tag("Endomorth.jpg", alt: "Example Image")%>
        <%= f.radio_button :body, "Endomorth", :class =>"form-control" %>

      </div>
    </div>



    <br />


    <div class="actions">
      <%= f.submit "Sign up", :class => "btn btn-success btn-block" %>
    </div>
<% end %>

<%= render "devise/shared/links" %>
