<div class="page-header">

  <h1>
    My all recommendations
    <a href="/users_inputs/new" class="btn btn-lg btn-success">New Recommendation</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <th>Exercise time, min</th>
        <th>Exercise</th>
        <th>Meal</th>

        <th>Actions</th>
      </tr>

      <% @recommendations.each do |recommendation| %>
      <tr>

        <td><%= recommendation.recommended_exercise_time %></td>
        <td><%= recommendation.exercise_id %></td>
        <td><%= truncate(recommendation.meal.meal) %></td>

        <td>
          <a href="/recommendations/<%= recommendation.id %>" class="btn btn-primary">Show</a>
          <a href="/recommendations/<%= recommendation.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_recommendation/<%= recommendation.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>




