<h1> Intake <%=@DailyIntake %> </h1>
<p> Gain <%=@TargetLossGain %> </p>
<p> Calories <%=@TargetCalories %> </p>
<p><%=@UserInput.exercise.calories_per_hour %></p>
<p><%=@UserInput.exercise_time/60 %></p>
<p> Input <%=@UserInput %> </p>
<p>Input Cac <%=@UserInputCalculated %> </p>

<p> CaloriestoBurn<%=@CaloriesNeeded %> </p>
<p> CaloriestoExercise<%=@CaloriestoExercise %> </p>
<p> Calories to Eat<%=@CaloriestoEat %> </p>

