<div class="page-header">
  <h3>Recommendation #<%= @recommendation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>My exercise</dt>
      <dd><%= @recommendation.exercise.exercise %></dd>

      <dt>My exercise time </dt>
      <dd><%= @recommendation.recommended_exercise_time %></dd>

      <dt>My Meal</dt>
      <dd><%= @recommendation.meal.meal %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/recommendations" class="btn btn-primary">
        Back
      </a>
      <a href="/recommendations/<%= @recommendation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_recommendation/<%= @recommendation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

