<!-- Validation failure messages -->
<% if @users_input.errors.any? %>
  <% @users_input.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add My Input</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_users_input" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for exercise_time -->
      <div class="form-group">
        <label for="exercise_time" class="control-label">
          Exercise time
        </label>

        <input type="text" id="exercise_time" name="exercise_time" placeholder="Exercise time in minutes" class="form-control" value="<%= @users_input.exercise_time %>">

      </div>

      <div class="form-group">
        <label for="exercise_id" class="control-label">
          Exercise
        </label>

        <!-- <input type="text" id="exercise_id" name="exercise_id" placeholder="Exercise" class="form-control" value="<%= @users_input.exercise_id %>"> -->
        <%= select_tag :exercise_id, options_from_collection_for_select(Exercise.order("exercise ASC"), :id, :exercise, @users_input.exercise_id), :class => "form-control" %>
      </div>

      <!-- Label and input for meal_id -->
      <div class="form-group">

        <label for="meal_id" class="control-label">
          Meal
        </label>

        <!-- <input type="text" id="meal_id" name="meal_id" placeholder="Meal" class="form-control" value="<%= @users_input.meal_id %>"> -->
        <%= select_tag :meal_id, options_from_collection_for_select(Meal.order("meal ASC"), :id, :meal, @users_input.meal_id), :class => "form-control" %>
      </div>


      <button class="btn btn-success">
        Get Recommendation
      </button>
      or
      <a href="/users_inputs">Cancel</a>
    </form>
  </div>
</div>
