<!-- Validation failure messages -->
<% if @meal.errors.any? %>
  <% @meal.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Meal #<%= @meal.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_meal/<%= @meal.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for calories_per_portion -->
      <div class="form-group">
        <label for="calories_per_portion" class="control-label">
          Calories per portion
        </label>

        <input type="text" id="calories_per_portion" name="calories_per_portion" placeholder="Enter number if calories" class="form-control" value="<%= @meal.calories_per_portion %>">
      </div>


      <!-- Label and input for serving_size -->
      <div class="form-group">
        <label for="serving_size" class="control-label">
          Servizing size
        </label>

        <input type="serving_size" id="serving_size" name="serving_size" placeholder="Serving size, e.g. spoon, portion" class="form-control" value="<%= @meal.calories_per_portion %>">
      </div>

      <!-- Label and input for content -->
      <div class="form-group">
        <label for="content" class="control-label">
          Nutrition type
        </label>

        <select :class => "form-control">
          <option value="protein">Protein</option>
          <option value="carbohydrt">Carbohydrates</option>
        </select>

      <!-- Label and input for type -->
      <div class="form-group">
        <label for="type" class="control-label">
          Name
        </label>

        <input type="text" id="meal" name="meal" placeholder="Name of the meal" class="form-control" value="<%= @meal.meal %>">
      </div>

      <button class="btn btn-warning">
        Update Meal
      </button>
      or
      <a href="/meals/<%= @meal.id %>">Cancel</a>
    </form>
  </div>
</div>
