<div class="page-header">
  <h1>
    Exercises
    <a href="/exercises/new" class="btn btn-lg btn-success">New Exercise</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th></th>
        <th>Weather</th>
        <th>Calories per hour</th>
        <th>Name</th>
        <th>Actions</th>

      </tr>





      <% @exercises.each do |exercise| %>
      <tr>

        <td>
          <% if current_user.exercises.include?(exercise) %>
              <% favorite = current_user.favorites.find_by(:exercise_id => exercise.id) %>
              <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash"></i>
              </a>
          <% else %>
              <form action="/create_favorite" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                <!-- Label and input for user_id -->
                <input name="user_id" type="hidden" value="<%= current_user.id %>">

                <!-- Label and input for movie_id -->
                <input name="exercise_id" type="hidden" value="<%= exercise.id %>">

                <button class="btn btn-success">
                  <i class="fa fa-star"></i>
                </button>
              </form>
          <% end %>
        </td>

        <td><%= exercise.weather %></td>
        <td><%= exercise.calories_per_hour %></td>
        <td><%= exercise.exercise %></td>
        <td>
          <a href="/exercises/<%= exercise.id %>" class="btn btn-primary">Show</a>
          <a href="/exercises/<%= exercise.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_exercise/<%= exercise.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
