<!-- Validation failure messages -->
<% if @exercise.errors.any? %>
  <% @exercise.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Exercise</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_exercise" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for weather -->
      <div class="form-group">
        <label for="weather" class="control-label">
          Weather
        </label>

        <input type="text" id="weather" name="weather" placeholder="Weather" class="form-control" value="<%= @exercise.weather %>">
      </div>

      <!-- Label and input for calories_per_hour -->
      <div class="form-group">
        <label for="calories_per_hour" class="control-label">
          Calories per hour
        </label>

        <input type="text" id="calories_per_hour" name="calories_per_hour" placeholder="Calories per hour" class="form-control" value="<%= @exercise.calories_per_hour %>">
      </div>

      <!-- Label and input for type -->
      <div class="form-group">
        <label for="type" class="control-label">
          Type
        </label>

        <input type="text" id="type" name="type" placeholder="Type" class="form-control" value="<%= @exercise.type %>">
      </div>

      <button class="btn btn-success">
        Create Exercise
      </button>
      or
      <a href="/exercises">Cancel</a>
    </form>
  </div>
</div>
